@import './variables';
@import './mixins';
@import './fonts';

* {
  margin: 0;
  padding: 0;
}

body {
  color: $text-color;
  font-family: $font;
}

button {
  color: $secondary-text-color;
  font-family: $font;
  background-color: transparent;
  border: none;
  cursor: pointer;
}