@import './variables';
@import './mixins';
@import './fonts';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: $secondary-background-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $accent-color;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-corner {
    background-color: $secondary-background-color;
  }
}

body {
  color: $text-color;
  font-size: 14px;
  font-family: $font;
  line-height: 115%;
}

a {
  color: $text-color;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

button {
  font-family: $font;
  background-color: transparent;
  border: none;
  cursor: pointer;
}