@import './variables';

@mixin font-face($font-family, $font-path, $font-weight: normal, $font-style: normal) {
  @font-face {
    font-weight: $font-weight;
    font-family: $font-family;
    font-style: $font-style;
    src: url('#{$font-path}.woff2') format('woff2'),
         url('#{$font-path}.woff') format('woff');
  }
}

@mixin input() {
  padding: 10px;
  color: $secondary-text-color;
  font-size: 14px;
  font-family: $font;
  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: 6px;

  &:focus, &:hover {
    border-color: $text-color;
    outline: none;
  }
}