$text-color: #fff;
$secondary-text-color: #A1A1AA;
$background-color: #202124;
$secondary-background-color: #27272A;
$border-color: #414144;
$accent-color: #7890B2;
$error-color: #DF4444;

$font: Roboto, Helvetica, sans-serif;