$text-color: #fff;
$secondary-text-color: #A1A1AA;
$background-color: #202124;
$secondary-background-color: #27272A;
$border-color: #414144;
$accent-color: #7890B2;
$error-color: #DF4444;

$breakpoint-xxl: 1600px;
$breakpoint-xl: 1440px;
$breakpoint-lg: 1280px;
$breakpoint-md: 1024px;
$breakpoint-sm: 768px;
$breakpoint-xs: 576px;
$breakpoint-xxs: 320px;

$font: Roboto, Helvetica, sans-serif;