@import '@/styles/mixins';

$icon-size: 24px;

.level-cell {
  position: relative;
  padding: 0;
}

.vertical-line {
  position: absolute;
  top: 0;
  bottom: -1px;
  width: 1px;
  background-color: $secondary-text-color;

  &--half {
    bottom: 50%;
  }
}

.horizontal-line {
  position: absolute;
  top: 50%;
  width: 11px;
  height: 1px;
  background-color: $secondary-text-color;
  transform: translateY(-50%);
}

.down-line {
  position: absolute;
  top: calc(50% + ($icon-size / 2));
  bottom: -1px;
  width: 1px;
  background-color: $secondary-text-color;
}

.button {
  padding: 2px;

  &:hover {
    color: $text-color;
  }

  &--color--accent {
    color: $accent-color;
  }

  &--color--error {
    color: $error-color;
  }

  &--type--extended {
    display: none;
  }
}

.buttons {
  position: absolute;
  top: 50%;
  display: flex;
  width: min-content;
  border-radius: 6px;
  transform: translate(calc(-1 * ($icon-size / 2)), -50%);
  transition: ease-in .2s;

  &:hover {
    background-color: $border-color;

    /* stylelint-disable-next-line selector-class-pattern */
    .button--type--extended {
      display: block;
    }
  }
}

.icon {
  width: $icon-size;
  height: $icon-size;
  padding: 4px;
}

.input {
  @include input;
}